[api_keys]
OPENAI_API_KEY=inform
MISTRAL_API_KEY=inform
TOGETHER_API_KEY=inform
HUGGINGFACEHUB_API_TOKEN=inform
ANTHROPIC_API_KEY=inform
GOOGLE_API_KEY=inform
GOOGLE_PROJECT_ID=inform
GOOGLE_PROJECT_LOCATION=us-central1
LANGCHAIN_API_KEY=inform
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=RAG_CoTToT_LLM_TCM_MBT
GITHUB_API_KEY=inform

[project_props]
SOFTWARE=rgp-diarias or gti-competencias
CLARET_DOCS_BASE_URL=https://splab-ufcg.github.io/claret/
MODELS_PATH=models.csv
COT_TOT_PROMPT_PATH=data/prompts/cot_tot_prompt.md
RAG_QUESTION_PATH=data/prompts/rag_prompt_template.md
RAG_RETRIEVER_QUERY_PATH=data/prompts/rag_retriever_query.md
RAG_CONTEXT_FILES_PATH=data/rules
GIT_REPO_OWNER=inform
GIT_REPO_NAME=inform
ANALYSIS_PATH=final_xxxxxxx
