[repository]
github_token = YOUR_GITHUB_TOKEN
repo_owner = OWNER
repo_name = REPO
branch_name = experiment01_LLMs_TCM_MBT_GTI-Competencias
tag_prefix = exp01_gti-competencias
release_prefix = EXP01 GTI-Competencias
release_body_template = Release for EXP01 GTI-Competencias version