/RF001 - Autenticar Usuário.gml
/RF002 - Realizar Logout.gml
/RF003 - Visualizar Permissões do Usuário.gml
/RF006 - Gerenciar Perfis de Competências.gml
/RF010 - Gerenciar Periodos Avaliativos.gml
/RF011 - Gerenciar Competências (Portfólio).gml
