/RF001 - Autenticar Usuário-annotated.tgf
/RF001 - Autenticar Usuário.tgf
/RF002 - Realizar Logout-annotated.tgf
/RF002 - Realizar Logout.tgf
/RF003 - Visualizar Permissões do Usuário-annotated.tgf
/RF003 - Visualizar Permissões do Usuário.tgf
/RF006 - Gerenciar Perfis de Competências-annotated.tgf
/RF006 - Gerenciar Perfis de Competências.tgf
/RF010 - Gerenciar Periodos Avaliativos-annotated.tgf
/RF010 - Gerenciar Periodos Avaliativos.tgf
/RF011 - Gerenciar Competências (Portfólio)-annotated.tgf
/RF011 - Gerenciar Competências (Portfólio).tgf
