/RF001 - Autenticar Usuário--ART-.xlsx
/RF001 - Autenticar Usuário--Complete-.xlsx
/RF001 - Autenticar Usuário--GT-.xlsx
/RF001 - Autenticar Usuário--GTP-.xlsx
/RF002 - Realizar Logout--ART-.xlsx
/RF002 - Realizar Logout--Complete-.xlsx
/RF002 - Realizar Logout--GT-.xlsx
/RF002 - Realizar Logout--GTP-.xlsx
/RF003 - Visualizar Permissões do Usuário--ART-.xlsx
/RF003 - Visualizar Permissões do Usuário--Complete-.xlsx
/RF003 - Visualizar Permissões do Usuário--GT-.xlsx
/RF003 - Visualizar Permissões do Usuário--GTP-.xlsx
/RF006 - Gerenciar Perfis de Competências--ART-.xlsx
/RF006 - Gerenciar Perfis de Competências--Complete-.xlsx
/RF006 - Gerenciar Perfis de Competências--GT-.xlsx
/RF006 - Gerenciar Perfis de Competências--GTP-.xlsx
/RF010 - Gerenciar Periodos Avaliativos--ART-.xlsx
/RF010 - Gerenciar Periodos Avaliativos--Complete-.xlsx
/RF010 - Gerenciar Periodos Avaliativos--GT-.xlsx
/RF010 - Gerenciar Periodos Avaliativos--GTP-.xlsx
/RF011 - Gerenciar Competências (Portfólio)--ART-.xlsx
/RF011 - Gerenciar Competências (Portfólio)--Complete-.xlsx
/RF011 - Gerenciar Competências (Portfólio)--GT-.xlsx
/RF011 - Gerenciar Competências (Portfólio)--GTP-.xlsx
